pom.xml
*jar
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/target
/resources/pics
/doc
/api_test/*.class
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-repl-history
.lein-deps-sum
.lein-failures
.lein-plugins
.classpath
.project
